body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: ;
}

header {
    background:#e91e63;
    padding: 15px;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
}

.products {
    display: flex;
    gap: 20px;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.product img {
    width: 100%;
}

button {
    background: blue;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

footer {
    background: grey;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}